body {
    background-color: black;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-bottom: 2px solid rgba(255,255,255,.25);
    background-color: black;
}

.logo {
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav a:hover {
    color: grey;
}

.nav input[type=text] {
    width: 90%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.grid-container{
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.imagen{
    display: grid;
    justify-content: center;
    align-items: center;
}
.informacion{
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.links{
    text-decoration: none;
    color: white;
}
.boton{
    text-decoration: none;
    color: black;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.footer {
    display: grid;
    grid-template-columns: 30% 70%;
    float: left;
    width: 100%;
    border-top: 2px solid rgba(255,255,255,.25);

}
.logodeezer {
    width: 80px;
    padding-top: 15px;
    padding-left: 10px;
}
.nuestrosnombres {
    float: right;
    color: white;
    font-size: 9px;
}


@media screen and (min-width: 768px) {
    .header {
        grid-template-columns:  2fr 1fr;
        height: 50px;
    }
    .logo {
        float: left;
        justify-content: left;
        align-items: center;
        margin-left: 20px;
    }
    .logo a{
        font-size: 25px;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .nav a{
        font-size: 17px;
    }
    .section{
        margin: 75px;
        background-color: rgb(255,255,255, 0.2);
    }
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .footer {
        grid-template-columns: 40% 60%;
    }
    .logodeezer {
        width: 110px;
    }
    .nuestrosnombres {
        font-size: 13px;
        float: right;
    }
}
@media screen and (min-width: 1024px) {
    .header{
        height: 60px;
    }
    .nav a{
        font-size: 20px;
    }
    .logo a{
        font-size: 30px;
    }
    .section{
        margin: 105px;
    }
    .nuestrosnombres {
        font-size: 14px;
    }
}