body {
    margin: 0px;
    background-image: url(../img/fondodetgeneros.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.grid-container {
    display: grid;
    grid-template-rows: 150px 1200px 70px;
}

.top {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 70px 30px;
}

.logo {
    background-color: #1E8449;
    height: 70px;
    width: 100%;
    float: left;
    text-align: center;
    display: block;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: 'Allerta Stencil', sans-serif;
}

.nav {
    background-color: #229954;
    height: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav a:hover {
    color: black;
}

.playbarra {
    text-align: center;
}
.detbarra {
    text-align: center;
}
.nav input[type=text] {
    float: right;
    border: none;
    margin: 5px;
    font-size: 15px;
    width: 100%;
}
.cuerpo {
    display: grid;
    grid-template-rows: 150px 1020px;
}
.nombregenero{
    font-size: 30px;
    color: white;
    text-align: center;
}
.cuadrado {
    background-color: rgba(248, 249, 249, .6);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.coverimage {
    width: 100%;
}
.artistas{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.artistas a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nombres{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgba(44, 62, 80, .7);
    gap: 10px;
}
.fotoartista{
    height: 40px;
    float: right;
    border-radius: 50%;
}
.footer {
    display: grid;
    grid-template-columns: 30% 70%;
    float: left;
    width: 100%;
    background-color: #229954;
}
.logodeezer {
    width: 80px;
    padding-top: 15px;
    padding-left: 10px;
}
.nuestrosnombres {
    float: right;
    color: white;
    font-size: 9px;
}


@media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-rows: 200px 1600px 80px;
    }
    .top {
        grid-template-columns:  50% 50%;
    }
    .logo {
        margin-left: 80px;
        background-color: #1E8449;
        height: 130px;
        width: 36%;
        float: left;
        text-align: bottom;
    }
    .logo a{
        width: 60%;
    }
    .nav {
        background-color: #229954;
        height: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        font-family: 'Oswald', sans-serif;
    }
    .nav a{
        font-size: 20px;
    }
    .cuerpo {
        grid-template-rows: 170px 1400px;
    }
    .cuadrado {
        margin-left: 90px;
        margin-right: 90px;
    }
    .artistas{
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .artistas a{
        font-size: 23px;
    }
    .nombres {
        grid-template-columns: 40% 60%;
        gap: 12px;
    }
    .fotoartista{
        height: 50px;
    }
    .footer {
        grid-template-columns: 40% 60%;
    }
    .logodeezer {
        width: 110px;
    }
    .nuestrosnombres {
        font-size: 13px;
        float: right;
    }
}
@media screen and (min-width: 1024px) {
    .nav{
        width: 100%;
        margin-left: 15px;
    }
    .nav a{
        font-size: 26px;
    }
    .logo {
        height: 140px;
    }
    .logo a{
        font-size: 60px;
    }
    .cuadrado{
        margin-left: 120px;
        margin-right: 120px;
    }
    .artistas{
        margin-left: 50px;
        margin-right: 50px;
    }
    .artistas a{
        font-size: 28px;
    }
    .nuestrosnombres {
        font-size: 14px;
    }
}
