/*css detalles */
html, body, .grid-container {
    height: 100%; margin: 0; }






.grid-container {
  display: grid;
  grid-template-columns: 1.4fr 1.1fr 0.5fr;
  grid-template-rows: 1.6fr 0.4fr;
  gap: 1px 1px;
  grid-template-areas: "picture infor more" ". . .";
  background-color: darkseagreen;
  
}

header {
    background-color: dimgray;
}

.picture { grid-area: picture; 

}

img {
    width: 500px;
    height: 500px;
    padding: 1cm;
    margin-left: 2cm;
    margin-top: 2cm;
}

.infor { 
grid-area: infor; 
background-color: darkslategray;}