body {
    margin: 0px;
    background-image: url(../img/fondoindex.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.grid-container {
    display: grid;
    grid-template-rows: 150px 1700px 70px;
}

.top {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 70px 30px;
}

.logo {
    background-color: #1E8449;
    height: 70px;
    width: 100%;
    float: left;
    text-align: center;
    display: block;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: 'Allerta Stencil', sans-serif;
}

.nav {
    background-color: #229954;
    height: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav a:hover {
    color: black;
}

.playbarra {
    text-align: center;
}
.detbarra {
    text-align: center;
}
.nav input[type=text] {
    float: right;
    border: none;
    margin: 5px;
    font-size: 15px;
    width: 100%;
}


.cuerpo {
    display: grid;
    grid-template-rows: 200px 100%;
    margin-top: 0px;
}

.frase {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.charts-container {
    display: grid;
    grid-template-rows: 80px 2fr;
    margin-top: 100px;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 20px;
}

.charts {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
    gap: 10px;
    height: 1300px;
}
.presentacion {
    background-color: rgba(44, 62, 80, .6);
    color: white;
    text-align: center;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    font-size: 20px;
}
.artistas {
    background-color: rgba(248, 249, 249, .6);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 7px;
    padding-bottom: 7px;
    height: 400px;
}

.artista {
    background-color: rgba(44, 62, 80, .6);
    margin-left: 7px;
    margin-right: 7px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
}
.armar{
    float: left;
}
.armar a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.canciones {
    background-color: rgba(248, 249, 249, .6);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 7px;
    padding-bottom: 7px;
    height: 400px;
}
.cancion {
    background-color: rgba(44, 62, 80, .6);
    margin-left: 7px;
    margin-right: 7px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 7px;
}
.cancion a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    display: block;
}
.albumes {
    background-color: rgba(248, 249, 249, .6);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 7px;
    padding-bottom: 7px;
    height: 400px;
}
.album {
    background-color: rgba(44, 62, 80, .6);
    margin-left: 7px;
    margin-right: 7px;
    display: grid;
    grid-template-columns: 30% 70%;
    
}
.album a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    display: block;
}
.imagenesartistas {
    height: 50px;
    float: right;
    border-radius: 50%;
}
.imagenesalbums-canciones {
    height: 50px;
    float: right;
}
.footer {
    display: grid;
    grid-template-columns: 30% 70%;
    float: left;
    width: 100%;
    background-color: #229954;
    bottom: 0;
}
.logodeezer {
    width: 80px;
    padding-top: 15px;
    padding-left: 10px;
}
.nuestrosnombres {
    float: right;
    color: white;
    font-size: 9px;
}


@media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-rows: 200px 1100px 80px;
    }
    .top {
        grid-template-columns:  50% 50%;
    }
    .logo {
        margin-left: 80px;
        background-color: #1E8449;
        height: 130px;
        width: 36%;
        float: left;
        text-align: bottom;
    }
    .logo a{
        width: 60%;
    }
    .nav {
        background-color: #229954;
        height: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        font-family: 'Oswald', sans-serif;
    }
    .nav a{
        font-size: 20px;
    }
    .cuerpo {
        grid-template-rows: 300px 650px;
    }
    .frase {
        font-size: 30px;
    }
    .charts-container {
        grid-template-rows: 150px 500px;
    }
    .titulo {
        font-size: 40px;
    }
    .charts {
        grid-template-columns: 1fr 1fr 1fr;
        height: 500px;
    }
    .artistas {
        height: 450px;
    }
    .canciones {
        height: 450px;
    }
    .albumes {
        height: 450px;
    }
    .footer {
        grid-template-columns: 40% 60%;
    }
    .logodeezer {
        width: 110px;
    }
    .nuestrosnombres {
        font-size: 13px;
        float: right;
    }
}
@media screen and (min-width: 1024px) {
    .nav{
        width: 100%;
        margin-left: 15px;
    }
    .nav a{
        font-size: 26px;
    }
    .logo {
        height: 140px;
    }
    .logo a{
        font-size: 60px;
    }
    .artistas {
        height: 500px;
    }
    .canciones {
        height: 500px;
    }
    .albumes {
        height: 500px;
    }
    .nuestrosnombres {
        font-size: 14px;
    }
}
