body {
    margin: 0px;
    background-image: url(../img/fondodetgeneros.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.grid-container {
    display: grid;
    grid-template-rows: 150px 1650px 70px;
}

.top {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 70px 30px;
}

.logo {
    background-color: #1E8449;
    height: 70px;
    width: 100%;
    float: left;
    text-align: center;
    display: block;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: 'Allerta Stencil', sans-serif;
}

.nav {
    background-color: #229954;
    height: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav a:hover {
    color: black;
}

.playbarra {
    text-align: center;
}
.detbarra {
    text-align: center;
}
.nav input[type=text] {
    float: right;
    border: none;
    margin: 5px;
    font-size: 15px;
    width: 100%;
}
.playlist-container {
    display: grid;
    grid-template-rows: 150px 1450px;
    margin-bottom: 20px;
}
.frase {
    text-align: center;
    font-size: 30px;
    color: white;
}
.lista-reproduccion {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    gap: 15px;
}
.datos-track {
    display: grid;
    grid-template-columns: 1% 99%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(248, 249, 249, .7);
}
.imagen-artista {
    height: 0px;
}
.cancion {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.presentacion-cancion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.titulo {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titulo a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.titulo a:hover{
    text-decoration: underline;
}
.artista {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.artista a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.artista a:hover{
    text-decoration: underline;
}
.album a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.album a:hover{
    text-decoration: underline;
}
.audio {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.audio-cancion {
    float: left;
}
.boton-eliminar {
    text-align: center;
}
.footer {
    display: grid;
    grid-template-columns: 30% 70%;
    float: left;
    width: 100%;
    background-color: #229954;
}
.logodeezer {
    width: 80px;
    padding-top: 15px;
    padding-left: 10px;
}
.nuestrosnombres {
    float: right;
    color: white;
    font-size: 9px;
}


@media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-rows: 200px 1700px 80px;
    }
    .top {
        grid-template-columns:  50% 50%;
    }
    .logo {
        margin-left: 80px;
        background-color: #1E8449;
        height: 130px;
        width: 36%;
        float: left;
        text-align: bottom;
    }
    .logo a{
        width: 60%;
    }
    .nav {
        background-color: #229954;
        height: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        font-family: 'Oswald', sans-serif;
    }
    .nav a{
        font-size: 20px;
    }
    .datos-track {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 10px;
    }
    .imagen-artista {
        padding-top: 10px;
        height: 100px;
    }
    .titulo a{
        font-size: 25px;
    }
    .artista a{
        font-size: 25px;
    }
    .album a{
        font-size: 25px;
    }
    .footer {
        grid-template-columns: 40% 60%;
    }
    .logodeezer {
        width: 110px;
    }
    .nuestrosnombres {
        font-size: 13px;
        float: right;
    }
}
@media screen and (min-width: 1024px) {
    .nav{
        width: 100%;
        margin-left: 15px;
    }
    .nav a{
        font-size: 26px;
    }
    .logo {
        height: 140px;
    }
    .logo a{
        font-size: 60px;
    }
    .nuestrosnombres {
        font-size: 14px;
    }
}
