/* {
    margin: 0;
    padding: 0;
    font-family:'Electrolize', sans-serif;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
  }*/
  
  body {
    background: black;
    margin: 0px;
    font-family:'Electrolize', sans-serif;
  }

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-bottom: 2px solid rgba(255,255,255,.25);
    background-color: black;
    z-index: 999;
}
  
.logo {
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-family:'Electrolize', sans-serif;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Electrolize', sans-serif;
}

.nav a:hover {
    color: grey;
}

  .container {
    padding: 0 20px;
  }
  
  .sub-container {
    max-width: 500px;
    width: 100%;
    height: 350px;
    margin: 50px auto 0;
    margin-bottom: 50px;
    display: flex;
    background-color:#a1dfcf;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.125);
  }
  
  .sub-container .banner-img {
    width: 220px;
    height: 100%;
  }
  
  .sub-container .banner-img img {
    width: 100%;
    height: 100%;
  }

  .desktop {display: block;}

  .mobile {display: none;}

.title {
  color: #a1dfcf;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
  font-weight: bold;
  font-family:'Electrolize', sans-serif;
  margin-bottom: 15px;
  margin-top: 25px;
  background-color: white;
}

  .form {
    width: 280px;
    height: 100%;
    text-align: left;
    margin-left: 15px;
  }

  #rgstr_btn {
    text-transform: uppercase;
  }
  
  #register-form {
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: left;
  }

  #name {
    text-align: center;
    margin: 5px;
  }

  #pw {
    text-align: center;
    margin: 5px;
  }

  .getaccount {
    text-transform: uppercase;
    margin: 5px;
  }

  #userName {
    text-transform: uppercase;
    margin: 5px;
  }

  #userPw {
    text-transform: uppercase;
    margin: 5px;
  }

  .loginbutton {
    text-transform: uppercase;
    margin: 5px;
  }
  
  .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: #6e8d30;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255,255,255,.25);
}
.logos {
    width: 43px;
}
.nuestrosnombres {
    color: white;
    font-size: 13px;
}

  
  @media screen and (max-width: 500px) {
    .sub-container {
      flex-direction: column;
      max-width: 300px;
      height: auto;
      margin-top: 50px;
    }

    .desktop {display: none;}

    .mobile {display: block;}

    .sub-container .banner-img {
      width: 100%;
      height: 220px;
    }
    .sub-container .login-form {
      width: 100%;
      padding: 20px 35px 0;
    }
    .sub-container .login-form .title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .login-form .input {
      margin-bottom: 10px;
    }
  
    .login-form .forgot {
      margin-bottom: 55px;
    }
    .btn {
      margin-top: 20px;
      padding: 10px;
    }
  }

 /* @media all and (max-width: 499px) {
  .desktop {display: none;}
  .mobile {display: none;}*/

